@charset "utf-8";

* {
  background: #00000033 !important;
}

body {
  margin: 0;
  overflow-y: scroll;
}

#header {
  
}

#main {
  margin: 0 auto;
  max-width: 640px;
  min-height: 100vh; 
  padding: 0px 38px;
}

#footer {
  bottom: 0px;
  font-size: 8pt;
  min-height: 64px;
  padding: 32px 16px;
  position: relative;
  text-align: center;
}

fieldset {
  border: none;
  margin: 0;
 --min-width: 0px; /* hack for firefox */
  padding: 0;
  width: 100%;
}

input,
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  background: transparent;
  border: none;
  box-sizing: border-box;
  height: 32px;
  margin: 0.5px;
  padding: 0 8px;
}

textarea {
  margin: 0;
  padding: 8px;
  background: transparent;
  border: none;
  box-sizing: border-box;
  display: block;
  min-width: 100%;
  max-width: 100%;
  height: 32px;
}

fieldset[name="inputs"] {
  width: 100%;
  display: flex;
}

input[name="x-submit"],  
input[name="command"] {
  height: 32px;
  line-height: 32px;
  width: 32px;
}

input[name="task"] {
  height: 32px;
  line-height: 32px;
  width:100%;
}

article {
  line-height: 32px;
}

section {
  padding: 8px;
}



/*

body > footer p {
  margin: 0;
}

body > footer a {
  text-decoration: none;
}

a {
  color: #FFFFFF;
}

fieldset[name="input"], fieldset[name="tags"] {
  display: flex;
}

fieldset[name="input"] {
}

fieldset[name="tags"] {

}

fieldset input {

}

input[type="button"], input[type="submit"] {
  color: #A2A3A7;
  background: #272B35;
}

input[type="button"]:hover, input[type="submit"]:hover { 
  color: #FFFFFF;
  background: #20242C;
  flex-basis: 32px;
}

input[type="button"]:active, input[type="submit"]:active {
  color: #FFFFFF;  
  background: #5675B9;
}

input[type="text"] {
  flex-basis: 100%;
  font-family: "Consolas", monospace;
  background-color: #171B1F;
  color: #6D7782;
}

input[type="text"]:focus {
  color: #FFFFFF;
}

input[type="text"]::-moz-placeholder {
  color: #6D7782;
}

input:placeholder-shown{
  
}


input[name="command"], input[name="submit"] {
  width: 32px;
}

output[name="printer"] { 
  -margin: 1px;
}

output[name="printer"] article { 
  font-family: "Consolas", monospace;
  font-size: 10pt;  
  color: #FFFFFF;  
  background-color: #171B1F;
}

output[name="printer"] header { 
  display: flex;
  flex-direction: row-reverse;
}

output[name="printer"] section { 
  padding: 8px;
}

output[name="printer"] input[type="button"] { 
  text-decoration: underline;
  background: none;
  font-size: 8pt;
  height: initial;
  padding: 4px 8px;
}

output[name="toaster"] { 
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 320px;
  min-width: 20%;
}

output[name="toaster"] article { 
  font-family: "Consolas", monospace;
  font-size: 10pt;
  color: #A2A3A7;
  background: #272B35;
  padding: 8px;
  margin: 1px;
}

output[name="toaster"] article:hover { 
  opacity: 0.2;
}

output[name="toaster"] section { 
  
}

output[name="tasks"] { 

}

output[name="tasks"] article {
  margin: 1px;
  padding: 0 8px;
  transition: margin 0.1s; 
}

output[name="tasks"] article:hover {
  margin-right: -5px; 
  margin-left: 5px; 
}

output[name="tasks"] article.task-done  section {
  color: #aaa;
  text-decoration: line-through;
}

output[name="tasks"] article  header {
  display: none;
}

output[name="tasks"] article.controls-shown header{
  display: block;
}

section {
}

output[name="tasks"] article section p {
  line-height: 32px;
  margin: 0;
  
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

output[name="tasks"] article.controls-shown {
  margin-left: 20px;
  margin-right: -20px;
  border-left: solid orange 2px;
}

output[name="tasks"] article.controls-shown section p {
  overflow: visible;
  white-space: normal;
  text-overflow: clip;
}

output[name="tasks"] article:nth-child(even) { 
    background: #272B35FF;
}

output[name="tasks"] article:nth-child(odd) { 
    background: #272B35AA;
}

output[name="tasks"] article:hover { 
  -opacity: 0.2;
}

output[name="tasks"] article textarea { 
  display: none;
}

output[name="tasks"] article.editor-shown textarea { 
  width: 100%;
  display: block;
  max-width: 100%;
  box-sizing: border-box;
    background-color: #171B1F;
  color: #FFF;
  border: none;
}

output[name="tasks"] article.editor-shown section { 
display: none;
}

input[type="button"].context:hover    { color: orange; }
input[type="button"].project:hover    { color: magenta; }
input[type="button"].dependency:hover { color: springgreen; }
input[type="button"].hashtag:hover    { color: cyan; }

.context {
  color: orange;
}

.project {
  color: magenta;
}

.dependency {
  color: SpringGreen;
}

.hashtag {
  color: cyan;
}

.context, .project, .dependency, .hashtag {
  font-family: "Consolas", monospace;
}


p {

}

*/
